# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [9]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [10]:
pokemon = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
pokemon

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [18]:
# Filtramos:
t_dragon = pokemon[pokemon['Type 1'] == 'Dragon']['HP']
t_cesped = pokemon[pokemon['Type 1'] == 'Grass']['HP']

# Hacemos T Student:
t_stat, p_value = st.ttest_ind(t_dragon, t_cesped, alternative='greater')

# Obtenemos los resultados: 
print(f"El valor del test es {t_stat} y el valor de p es  {p_value}")

# Evaluamos el valor p: 
if p_value < 0.5:
    print("Se rechaza la hipotesis al tener el tipo dragon un Hp mayor al tipo planta.")
else:
    print("No se rechaza la hipotesis, pero por falta de datos.")

El valor del test es 3.590444254130357 y el valor de p es  0.0002567969150153481
Se rechaza la hipotesis al tener el tipo dragon un Hp mayor al tipo planta.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
pokemon.info()

In [32]:
# Filtrado: 
t_legendario = pokemon[pokemon['Legendary'] == True]
n_t_lengendario = pokemon[pokemon['Legendary'] == False]

# Atributos a comparar: 
atributos = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

# Haceos t_student para cada atributo:
ajustes = 0.05 / len(atributos)
for atributo in atributos: 
    stadist_legendario = t_legendario[atributo]
    stadist_no_legendario = n_t_lengendario[atributo]

# Hacemos t-student:
    t_stat, p_value = st.ttest_ind(stadist_legendario, stadist_no_legendario, equal_var=False)  

# Revisamos valores:
print(f"Comparacion para {atributos}, el valor de t_student es {t_stat}, para p es {p_value}")

# Veamos si aceptamos o rechazmos la hipotesis: 
if p_value < ajustes:
    print(f"Se rechaza la hipotesis debido que hay una diferencia significativa entre {atributos} de los legendarios y los no legendarios.")
else: 
    print("No se rechaza la hipotesis al no haber una diferencia signficativa entre categorÃ­as.")

Comparacion para ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'], el valor de t_student es 11.47504444631443, para p es 1.0490163118824507e-18
Se rechaza la hipotesis debido que hay una diferencia significativa entre ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'] de los legendarios y los no legendarios.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [34]:
distancias = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
distancias.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
# Se declaran las distancias:
coor_escuela = (-118, 34)
coor_hosp = (-122, 37)

# Se crea la funciÃ³n para calcular la distancia euclidea:
def dist_eu (x1, y1, x2, y2):
    return np.sqrt((x2 -x1)**2 + (y2 - y1)**2)

# Calculamos las distancias de cada casa con el hospital y el colegio: 
distancias['d_hospital'] = distancias.apply(lambda row: dist_eu(row['X'], row['Y'], coor_hosp[0], coor_hosp[1]), axis=1)
distancias['d_hospital'] = distancias.apply(lambda row: dist_eu(row['X'], row['Y'], coor_escuela[0], coor_escuela[1]), axis=1)

# Clasificamos las casas como "lejos" o "cerca":
distancias['cerca'] = ((distancias['d_hospital'] < 0.5) | (distancias['d_escuela'] < 0.5))

# Dividimos el dataset en dos: 
cerca = distancias[distancias['Cerca'] == True]['Price']
lejos = distancias[distancias['Lejos'] == True]['Price']

# ##
t_stat, p_value = st.ttest_ind(cerca, lejos, equal_var=False)
print(f"Valor de t {t_stat}, valor de p {p_value}")

if p_value < 0.5:
    print("Se rechaza la hipotesis nula.")
else: 
    print("No se rechaza la hipotesis.")